body {
    background-color: rgb(50, 50, 50);
    margin:0px;
}
.header {
    margin:0px;
    padding:0px;
    border:0px;
    text-align: center;
    position : static;
    background-color: rgba(70, 60, 40, 0);
    height: 210px;
    width : 100%;
}
.headerbg {
    background-image: url("../images/header/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed, scroll;
    top: 0;
    z-index: -1;
    position : fixed;
    height: 100%;
    width: 100%;
}
.header_top {
    background-image: url("../images/page_top_bg.png");
    background-size: 100%;
    position: static;
    top: 0px;
    background-repeat: no-repeat;
    height: inherit;
    width: 100%;
    z-index: 9;

}
.header_top .right_buttons{
    position: absolute;
    top: 25px;
    left: 64%;
    text-align: right;
}
.header_top .left_buttons{
    position: absolute;
    top: 25px;
    left: 7%;
    text-align: left;
}

.gourmet_logo {
    background-image: url("../images/gourmet_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50px;
    left: 34% ;
    z-index: 10;
}

/* ---------------------------------------------------------------------------------*/

.header a {
    text-align: center;
    vertical-align: middle;
    background: rgba(0, 0, 0, .2);
    /*border-radius: 3px;*/
    border: 2px solid #fff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    position: relative;
    float: right;
    border: 0;
    padding: 8px;
    height: 25px;
    width: 200px;
    color: #fff;
    background: rgba(30, 25, 20, 0.6);
    border: 2px solid #fff;
  	transition: background 0.2s ease-in-out;
    text-decoration: none;
    /*border-radius: 0 3px 3px 0;*/
}

.header a:hover {
    background: #fff;
    color: #444;
}

.header a:active {
    box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.header a:focus {
    outline: 0;
}



/*---------------------------------------------------------------------------*/
.formbgcolor{
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 7px;
}

.formx {
    border-radius: 7px;
    margin-top: 5px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    background:rgba(20, 20, 20, 0.7);
    background-image: url("../images/header/1b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed, scroll;
    height:auto;
    width:550px;
	box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
  	transition: box-shadow 0.15s ease-in-out;
}
.formx:hover{
	box-shadow: 0px 15px 50px 5px rgba(0, 0, 0, 0.8);
}
.formx:active{
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.8);
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}
label .label-text {
  text-shadow:  0px 0px 7px  rgba(0, 0, 0, 1);
  color: #ccc;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: none;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}
label input {
  text-shadow:  0px 0px 10px  rgba(0, 0, 0, 1);
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  color: white;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}
label input:focus {
  max-width: 100%;
  width: 400px;
}
label input:focus + .label-text {
  color: #F0F0F0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}
label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

button {
  background-color: rgba(30, 25, 20, 0.6);
  border: 2px solid white;
  border-radius: 0px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: none;
  transition: all 200ms;
}
button:hover, button:focus {
  background-color: white;
  color: #222;
  outline: 0;
}

.input-group-addon {
    font-size: 30px;
    padding: 5px 0px 7px 5px;
    border-bottom: 2px solid white;
    text-shadow:  0px 0px 7px  rgba(0, 0, 0, 1);
    color: white;
}

.mobno:focus {
    text-align:left;
    max-width: 100%;
    width: 220px;
}

.error{
    color:rgba(210, 30, 40, 1);
    text-shadow:  0px 0px 7px rgba(210, 30, 40, 1);

}
